{% extends "blog/main/base.html" %}
{% load blog_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_create|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Редактировать</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Удалить</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
        Tags:
     {% for tag in object.tags.all %}
       <a href="{% url 'post_list_by_tag' tag.slug %}">
         {{ tag.name }}
       </a>
       {% if not forloop.last %}, {% endif %}
     {% endfor %}
      {% with comments.count as total_comments %}
       <small class="text-muted">{{ total_comments }} comment{{ total_comments|pluralize }}</small>
      {% endwith %}
      <p><a href="{% url 'post-share' object.id %}"> Share this post</a></p>
  </article>
    <h2>Similar posts</h2>
       {% for post in similar_posts %}
         <p>
           <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
         </p>
       {% empty %}
     There are no similar posts yet.
   {% endfor %}
{% if user.is_authenticated %}
{% load crispy_forms_tags %}
    <div class="media content-section">
     <div class="media-body">
       {% if new_comment %}
         <h2>Your comment has been added.</h2>
       {% else %}
         {% if comment_form %}
           <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add a new comment</legend>
                    {{ comment_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Сохранить</button>
                </div>
            </form>
         {% else %}
         <p>You need to login.</p>
         {% endif %}
       {% endif %}
     </div>
   </div>
{% endif %}
{% for comment in comments %}
   <article class="media content-section">
     <img class="small rounded-circle article-img" src="{{ comment.user.profile.image.url }}">
     <div class="media-body">
       <a class="mr-2" href="{% url 'user-posts' comment.user.username %}">{{ comment.user }}</a>
        <small class="text-muted">{{ comment.date_create|date:"F d, Y" }}</small>
       <p class="info">{{ comment.created }}</p>
       {{ comment.body|linebreaks }}
     </div>
       </article>
     {% empty %}
<article class="media content-section">
     <p>There are no comments yet.</p>
</article>
{% endfor %}
{% endblock content %}