{% extends "blog/main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if sent %}
        <h1>E-mail successfully sent</h1>
       <p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        {% else %}
           <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Share a post "{{ post.title }}"</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Сохранить</button>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock content %}